<section class="py-5 bg-blue-200">
    <div class="container">
        <div class="row gy-4 align-items-center">
            <div class="col-md-6 text-center">
                {{ with .Site.Params.Grabber }}
                <h2 class="text-uppercase">{{ .header }}</h2>
                <p class="lead mb-3">{{ .details }}</p>
                {{ end }}
            </div>
            <div class="col-md-6"><img class="img-fluid d-block mx-auto" src="img/block1.jpg" alt="..."></div>
        </div>
    </div>
</section>
