<footer>
    <div class="bg-gray-200">
        <div class="container py-4">
            <h3 class="text-center">Special thanks to our partners</h3>
            <div class="container py-4">
                <div class="swiper-container partners-slider">
                    <div class="swiper-wrapper">
                        {{ range .Site.Params.Partners }}
                        <div class="swiper-slide h-auto"><img class="img-fluid d-block mx-auto" src="{{ .image }}" alt="{{ .name }}" width="140"></div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center py-3 text-white bg-blue-200">
        <h6>{{ .Site.Params.copyright }}</h6>
    </div>
</footer>
{{ partial "latescripts.html" . }}
