<footer class="py-5 bg-gray-200">
    <h3>Special thanks to our partners</h3>
    <div class="container py-4">
        <div class="swiper-container customers-slider">
            <div class="swiper-wrapper">
                {{ range .Site.Params.Partners }}
                <div class="swiper-slide h-auto"><img class="img-fluid d-block mx-auto" src="{{ .image }}" alt="{{ .name }}" width="140"></div>
                {{ end }}
            </div>
        </div>
    </div>
</footer>
{{ partial "latescripts.html" . }}
