.hero {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 25%;
    z-index: -1;
}

.hero-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 50%;
    margin: auto;
}

.menu a {
    color: white;
}
